/APISecured.class
/AlertController.class
/Application.class
/BasicEventController.class
/EventController.class
/LoginController.class
/MobileAutonomieController.class
/ParamController.class
/RawDataController.class
/SensorController.class
/WebAuthentication.class
/WebAuthorization.class
